<div>
  <div *ngIf="currentOperation.id" class="edit-form">
    <h4>Operation</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentOperation.data"
          name="title"
        />
      </div>
    </form>

    <button class="btn btn-danger mr-2" (click)="deleteOperation()">
      Delete
    </button>

    <button
      type="submit"
      class="btn btn-success mb-2"
      (click)="updateOperation()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentOperation.id">
    <br />
    <p>Cannot access this Operation...</p>
  </div>
</div>