<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="titreoperation">Titreoperation</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="operation.data"
          name="title"
        />
      </div>
      <button (click)="saveOperation()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Operation was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newOperation()">Add</button>
    </div>
  </div>
</div>
