<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Ville"
        [(ngModel)]="Ville"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchVille()"
        >
          Search
        </button>
      </div>
      <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by etat_d_avancement"
        [(ngModel)]="etat_d_avancement"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchetat_d_avancement()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Operations List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let operation of operations; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveOperation(operation, i)"
      >
        {{ operation.titreoperation }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllOperations()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentOperation.id">
      <h4>Operation</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentOperation.titreoperation }}
      </div>
    
      <a class="btn btn-warning" routerLink="/operations/{{ currentOperation.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentOperation">
      <br />
      <p>Please click on a OperatcurrentOperation...</p>
    </div>
  </div>
</div>